@font-face {
  font-family: "Turret Road";
  src: url('/components/fonts/TurretRoad-Regular.ttf');
}

@font-face {
  font-family: "Turret Road Bold";
  src: url('/components/fonts/TurretRoad-Bold.ttf');
}

@font-face {
  font-family: "Turret Road Extra Bold";
  src: url('/components/fonts/TurretRoad-ExtraBold.ttf');
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body, #app {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;;
  font-family: "Turret Road";
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.form-control{
  width: 50px;
}

.row{
  width: 300px;
}

.playbutton{
  font-family: "Turret Road Extra Bold";
  background-color: #B2BEBF;
}

#menuIcon {
  display: block;
  z-index: 9999;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #B2BEBF;
  cursor: pointer;

}

#gameFinish {
  z-index: 9999;
  display: block;  
  position: absolute;
  top: 30%;
  left: 40%;
  width: auto;
  height: auto;
  /* font-size: 24px;
  color: #B2BEBF;
  cursor: pointer; */
  background-color: #fff;
  border-radius: 5%;
  border:  3px solid #B2BEBF;
  padding: 30px;

}
